<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>社員一覧</title>
</head>
<body>
<section layout:fragment="content">
    <h1 class="mb-4">社員一覧</h1>

    <p class="text-success fw-bold" th:if="${successMessage}" th:text="${successMessage}"></p>
    <p class="text-danger fw-bold" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <div>
        <table class="table table-hover table-bordered">
            <thead class="table-primary">
            <tr>
                <th>社員コード</th>
                <th>名前</th>
                <th>部署</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="staff : ${staffList}">
                <td th:text="${staff.staffid}"></td>
                <td th:text="${staff.name}"></td>
                <td th:text="${staff.division}"></td>
                <td>
                    <a th:href="@{/list/detail/{id}(id=${staff.staffid})}"
                       class="btn btn-primary btn-sm">詳細</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary btn-lg">戻る</a>
    </div>
</section>
</body>
</html>